// color
$themeColor: #fae0e6;
$errorColor: #FF0000;
$buttonColor: #2c2629;

// size
$size-0: 0.5rem; // 8px
$size-1: 0.75rem; // 12px
$size-2: 1rem; // 16px: font size
$size-3: 1.25rem; // 20px: font size
$size-4: 2rem; // 24px: large element
$size-5: 3rem; // 36px: large element
$size-6: 4rem; // 48px: large element

// space
$space-0: 1rem;
$space-1: 2rem;

// font
$labelFont: Arial;
