<header></header>

<div class="page-container">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="field-container form-group" *ngFor="let model of dataModels" ngModelGroup="{{model.constructor.name}}">
      <div *ngFor="let attribute of model.attributes">
        <label for="{{attribute.name}}">{{attribute.name}}</label>
        <p class="description">{{attribute.description}}</p>
        <input
          class="form-control input-group"
          type="{{attribute.type}}"
          id="{{attribute.name}}"
          name="{{attribute.name}}"
          required="{{attribute.isRequired}}"
          ngModel>
      </div>
    </div>
    <button class="btn btn-primary btn-scala mb-3" type="submit">Submit</button>
  </form>
  <app-error-notification [errorMessages]="errorMessage" *ngIf="errorMessage"></app-error-notification>
</div>

<footer>
  <p>Author: Phu Vinh Nguyen</p>
</footer>
